//<FORM>
// Снипет (HTML):
.form {
	&__row {}

	&__column {}

	&__line {}

	&__input {}

	&__button {}

	&__error {}
}

.form {
	width: 100%;
	display: grid;
	gap: 20px;

	// .form__row
	&__row {}

	// .form__input
	&__input {
		color: #464646;



		input {
			width: 100%;
			padding: 20px;
			border: 1px solid #878787;
			border-radius: 5px;
		}
	}

	// .form__submit
	&__submit {}
}

.btn {}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";