//====================================================================================================
.footer {
  background: #232c49;
  padding-top: 20px;
  padding-bottom: 25px;
  color: #fff;

  @media (min-width:$mobile) {
    padding-bottom: 20px;
  }

  @media (min-width:$pc) {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  // .footer__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:$mobile) {
      flex-direction: row;
      gap: 44px;
    }

    @media (min-width:$pc) {
      gap: 60px;
    }
  }

  &__link {
    font-size: 1.4rem;

    @media (min-width:$pc) {
      font-size: 1.6;
    }

    // .footer__link_personal
    &_personal {
      @media (min-width:$mobile) {
        order: 2;
      }
    }

    // .footer__link_offer
    &_offer {
      @media (min-width:$mobile) {
        order: 3;
      }
    }

    // .footer__link_dev
    &_dev {
      @media (min-width:$mobile) {
        order: 4;
      }
    }


  }

  // .footer__copy
  &__copy {
    font-size: 1.6rem;

    @media (min-width:$mobile) {
      flex: 1 1 auto;
      order: 1;
    }
  }
}

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================