@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
// $fontFamily: AlumniSans;
// $fontSize: vwm(20); // где 14(px) - размер шрифта по умолчанию из макета
$fontFamily: Montserrat;
$fontSize: 1.4rem; // где 14(px) - размер шрифта по умолчанию из макета

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;

// $maxWidthMob: 480;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1480;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
//$pc: $containerWidth+px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
// $pcL: 1919.98+px;
// $pcM: 1439.98+px;
$pc: 1279.98+px;
// $tablet: 1023.98+px; // Планшеты, некоторые телефоны в горизонтальном положении
$tablet: 991.98+px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98+px; // Телефоны L
// $mobileS: 599.98+px; // Телефоны L
// $mobileXS: 479.98+px; // Телефоны S


// Основные цвета
:root {

	--main-text: #000;
	--accent-color: #105DEF;

	--fade-duration: 0.5s;
	--fade-delay-step: 0.2s;
	--hover-duration: 0.2s;
}



// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {

	background-color: var(--bg-color);

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}

	// Сайт загружен
	.loaded & {
		opacity: 1;
	}
}

// ::selection {
// 	background-color: #BFB2A8;
// 	color: var(--light-color-text);	
// }

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	// min-height: 375px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}

}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: $maxWidthContainer+px;
			// box-sizing: content-box;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			padding: 0 math.div($containerPadding, 2)+px;
		}


	}
}

@else {

	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		// box-sizing: content-box;
		max-width: 340px;

		@if ($containerPadding>0) {
			padding: 0 math.div($containerPadding, 2)+px;
		}

		// @media (min-width:$mobileXS){
		// 	max-width: 440px;
		// 	padding: 0 20px;
		// }
		// @media (min-width:$mobileS){
		// 	max-width: 544px;
		// 	padding: 0 28px;
		// }
		// @media (min-width:$mobile){
		// 	max-width: 720px;
		// 	padding: 0 24px;
		// }
		// @media (min-width:$tablet){
		// 	max-width: 944px;
		// 	padding: 0 40px;
		// }
		@media (min-width:$pc) {
			@if ($maxWidthContainer>0) {
				max-width: $maxWidthContainer+px;
			}
		}

		@media (min-width:$pcL) {}

	}
}

// @if ($responsiveType==1) {
// 	// Отзывчивая
// 	[class*="__container"] {
// 		@if ($maxWidthContainer>0) {
// 			// max-width: $maxWidthContainer+px;
// 			max-width: 100%;
// 			box-sizing: content-box;
// 			margin: 0 auto;
// 			padding: 0 19px;
// 			font-size: 1.6rem;
// 			// position: relative;
// 			// z-index: 3;
// 		}
// 		@if ($containerPadding>0) {
// 			// padding: 0 math.div($containerPadding, 2)+px;
// 			padding: 0 19px;
// 		}

// 		@media (min-width: $tablet) {
// 			@if ($containerPadding>0 and $maxWidthContainer>0) {
// 				max-width: 1087px;
// 				padding: 0 vwpc(15);
// 			}
// 		}

// 		@media (min-width:$pcL){
// 			max-width: 1641px;
// 		}


// 	}
// }

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";
// @import "./base/swiper.scss";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "prodlenka";
